{% load pictures %}
<script>
$(document).ready(function() {
  let currentSlide = 0;
  const slides = $('.carousel-slide');
  const totalSlides = slides.length;
  
  function showSlide(index) {
    slides.removeClass('active');
    $(slides[index]).addClass('active');
  }
  
  $('#carousel-prev').on('click', function() {
    currentSlide = (currentSlide - 1 + totalSlides) % totalSlides;
    showSlide(currentSlide);
  });
  
  $('#carousel-next').on('click', function() {
    currentSlide = (currentSlide + 1) % totalSlides;
    showSlide(currentSlide);
  });
  
  // Show first slide
  if (totalSlides > 0) {
    showSlide(0);
  }
  
  // Hide nav buttons if only one slide
  if (totalSlides <= 1) {
    $('.carousel-nav').hide();
  }

  // Handle image clicks to show in modal
  $('.image-wrapper.clickable').on('click', function() {
    const imageTitle = $(this).data('title');
    const imageSrc = $(this).find('img').attr('src');
    
    // Populate modal
    $('#photo-modal .header').text(imageTitle || 'Photo');
    $('#photo-modal img').attr('src', imageSrc);
    
    // Show modal
    $('#photo-modal').modal('show');
  });
});

</script>

<div class="carousel-container">
  <button id="carousel-prev" class="ui circular icon button carousel-nav left">
    <i class="left chevron icon"></i>
  </button>
  
  {% for photo in photoset.get_randomized_photos %}
    {% if forloop.counter0|divisibleby:3 %}
      <div class="carousel-slide">
        <div class="carousel-images-container">
    {% endif %}
          <div class="carousel-image-item">
            <div class="image-wrapper clickable" data-title="{{ photo.title }}" style="cursor: pointer;">
              {% picture photo.image picture_id=photo.html_id img_alt="{{ photo.title }}" img_loading="lazy" picture_class="ui fluid image" %}
            </div>
          </div>
    {% if forloop.counter|divisibleby:3 or forloop.last %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
  
  <button id="carousel-next" class="ui circular icon button carousel-nav right">
    <i class="right chevron icon"></i>
  </button>
</div>

<!-- Photo Modal -->
<div id="photo-modal" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Photo Title
  </div>
  <div class="image content">
    <div class="ui fluid image">
      <img src="" alt="Photo">
    </div>
  </div>
</div>
