{% if page.paginator.num_pages > 1 %}{% load blog_tags %}{% load humanize %}
    <div class="ui container">
        {% if page_total %}
        <div class="ui message">
            <strong>{{ page_total|intcomma }} result{{ page_total|pluralize }}</strong> 
        </div>
        {% endif %}
        <div class="ui pagination menu">
            {% if page.has_previous %}
                <a class="item" href="{% page_href 1 %}">
                    <i class="angle double left icon"></i> First
                </a>
                <a class="item" href="{% page_href page.previous_page_number %}">
                    <i class="angle left icon"></i> Previous
                </a>
            {% else %}
                <div class="disabled item">
                    <i class="angle double left icon"></i> First
                </div>
                <div class="disabled item">
                    <i class="angle left icon"></i> Previous
                </div>
            {% endif %}
            <div class="active item">
                Page {{ page.number }} / {{ page.paginator.num_pages }}
            </div>
            {% if page.has_next %}
                <a class="item" href="{% page_href page.next_page_number %}">
                    Next <i class="angle right icon"></i>
                </a>
            {% else %}
                <div class="disabled item">
                    Next <i class="angle right icon"></i>
                </div>
            {% endif %}
            {% if page.paginator.num_pages > 2 and page.number < page.paginator.num_pages %}
                <a class="item" href="{% page_href page.paginator.num_pages %}">
                    Last <i class="angle double right icon"></i>
                </a>
            {% elif page.paginator.num_pages > 2 %}
                <div class="disabled item">
                    Last <i class="angle double right icon"></i>
                </div>
            {% endif %}
        </div>
    </div>
{% else %}
    {% if page_total %}
        <div class="ui message">
            <strong>{{ page_total|intcomma }} result{{ page_total|pluralize }}</strong> 
        </div>
    {% endif %}
{% endif %}
